<input type="checkbox" id="sidebar-toggle" />
<div class="sidebar my-5">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link active"
        routerLink="adminDashboard"
        routerLinkActive="active-link"
      >
        <i class="fa-solid fa-gauge pe-3"></i>Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link active active-link"
        routerLink="usersManagement"
        routerLinkActive="active-link"
      >
        <i class="fa-regular fa-user pe-3"></i>Users Management
      </a>
    </li>
  </ul>
</div>

<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bb">
  <div class="container-fluid">
    <!-- Sidebar Toggle Button (Hamburger) -->
    <label class="navbar-toggler toggle-btn" for="sidebar-toggle">
      <span class="navbar-toggler-icon"></span>
    </label>
    <a class="navbar-brand" href="#">Purple</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-cogs"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-power-off"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main Content -->
<div class="main-content">
  <router-outlet></router-outlet>
  <!-- <app-table
    [columns]="tableColumns"
    [data]="tableData"
    [actions]="tableActions"
    (actionClick)="onTableAction($event)"
  >
  </app-table> -->
</div>
