<div class="container py-5">
  <div class="row">
    <div class="col-md-3">
      <a [routerLink]="['/admin/users', 'admin']">
        <app-card-info title="Admins" [count]="10"></app-card-info
      ></a>
    </div>
    <div class="col-md-3">
      <a [routerLink]="['/admin/users', 'technician']">
        <app-card-info title="Technicians" [count]="25"></app-card-info
      ></a>
    </div>

    <div class="col-md-3">
      <a [routerLink]="['/admin/users', 'vendor']">
        <app-card-info title="Vendors" [count]="25"></app-card-info
      ></a>
    </div>

    <div class="col-md-3">
      <a [routerLink]="['/admin/users', 'observer']">
        <app-card-info title="Observers" [count]="60"></app-card-info
      ></a>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-6">
      <div class="table-card">
        <div
          class="table-title d-flex justify-content-between align-items-center px-2"
        >
          <h3>Latest Admins</h3>
          <a [routerLink]="['/admin/users', 'admin']">View All</a>
        </div>
        <app-table
          [columns]="tableColumns"
          [data]="tableData"
          [actions]="tableActions"
          (actionClick)="($event)"
        ></app-table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-card">
        <div
          class="table-title d-flex justify-content-between align-items-center px-2"
        >
          <h3>Latest Technician</h3>
          <a [routerLink]="['/admin/users', 'technician']">View All</a>
        </div>
        <app-table
          [columns]="tableColumns"
          [data]="tableData"
          [actions]="tableActions"
          (actionClick)="($event)"
        ></app-table>
      </div>
    </div>

    <div class="col-md-6 pt-3">
      <div class="table-card">
        <div
          class="table-title d-flex justify-content-between align-items-center px-2"
        >
          <h3>Latest Vendors</h3>
          <a [routerLink]="['/admin/users', 'Vendor']">View All</a>
        </div>
        <app-table
          [columns]="tableColumns"
          [data]="tableData"
          [actions]="tableActions"
          (actionClick)="($event)"
        ></app-table>
      </div>
    </div>

    <div class="col-md-6 pt-3">
      <div class="table-card">
        <div
          class="table-title d-flex justify-content-between align-items-center px-2"
        >
          <h3>Latest Observers</h3>
          <a [routerLink]="['/admin/users', 'observer']">View All</a>
        </div>
        <app-table
          [columns]="tableColumns"
          [data]="tableData"
          [actions]="tableActions"
          (actionClick)="($event)"
        ></app-table>
      </div>
    </div>
  </div>
</div>
