.table-card {
    background-color: var(--tertiary-color);
    padding: 12px;
    border-radius: 12px;
}


.table-title {
    color: white;
}

.table-title a {
    color: var(--secondary-color);
}

.table-title a:hover {
    text-decoration: underline;
}