<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <a>
        <app-card-info
          title="Total Users"
          [count]="totalCount"
        ></app-card-info>
      </a>
    </div>

    <div class="col-md-3">
      <a [routerLink]="['/admin/users', 'admin']">
        <app-card-info
          title="Admins"
          [count]="totalAdminsCount"
        ></app-card-info>
      </a>
    </div>

    <div class="col-md-3">
      <a [routerLink]="['/admin/users', 'vendor']">
        <app-card-info
          title="Vendors"
          [count]="totalVendorsCount"
        ></app-card-info>
      </a>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-6">
      <div class="table-card">
        <div
          class="table-title d-flex justify-content-between align-items-center px-2"
        >
          <h3>Latest Admins</h3>
          <a [routerLink]="['/admin/users', 'admin']">View All</a>
        </div>
        <app-table
          *ngIf="adminsTableData.length > 0; else NoUsers"
          [columns]="tableColumns"
          [data]="adminsTableData"
          [actions]="tableActions"
          (actionClick)="($event)"
        >
        </app-table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="table-card">
        <div
          class="table-title d-flex justify-content-between align-items-center px-2"
        >
          <h3>Latest Vendors</h3>
          <a [routerLink]="['/admin/users', 'vendor']">View All</a>
        </div>
        <app-table
          [columns]="tableColumns"
          [data]="vendorsTableData"
          [actions]="tableActions"
          (actionClick)="($event)"
        ></app-table>
      </div>
    </div>
  </div>
</div>

<ng-template #NoUsers>
  <h3 class="pt-3 text-center">There are no users!!</h3>
</ng-template>
