.table-card {
    background-color: var(--tertiary-color);
    /* background-color: aqua; */
    padding: 12px;
    border-radius: 12px;
}

.table-title {
    color: white;
}

.table-title a {
    color: white;
}

.table-title a:hover {
    text-decoration: underline;
}


/* .aa {
    margin: 0;
    padding: 0;
    border: solid 2px var(--secondary-color);
} */