<div class="text-center m-5">{{ role }}</div>
<div class="col-md-12">
  <div class="table-card">
    <div
      class="table-title d-flex align-items-center justify-content-between px-2"
    >
      <div class="form">
        <input
          type="search"
          style="border: none"
          class="form-control form-input"
          placeholder="Search anything..."
        />
      </div>
      <!-- Align button to the end -->

      <app-button
        btnClass="btn rounded-pill "
        style="background-color: var(--secondary-color); border-radius: 12px"
        text="Add User"
        [routerLink]="'/admin/addUser'"
      >
      </app-button>
    </div>

    <!-- Check if there is data in tableData -->
    <ng-container *ngIf="tableData.length > 0; else noUsers">
      <app-table
        [columns]="tableColumns"
        [data]="tableData"
        [actions]="tableActions"
        (actionClick)="($event)"
      ></app-table>
    </ng-container>

    <!-- Template for when there are no users -->
    <ng-template #noUsers>
      <div class="text-center m-3">No users available.</div>
    </ng-template>
  </div>
</div>
