<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Reset Your Password</h4>
        <form
          [formGroup]="resetPassForm"
          class="forms-sample"
          (ngSubmit)="resetPassTest()"
        >
          <div class="form-group row position-relative">
            <label for="password" class="col-sm-3 col-form-label"
              >New Password</label
            >
            <div class="col-sm-9">
              <input
                #inputPassword
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="New Password"
              />
            </div>
            <div
              class="error-container position-absolute"
              *ngIf="
                resetPassForm.get('password')?.errors &&
                (resetPassForm.get('password')?.touched ||
                  inputPassword.value.length > 0)
              "
            >
              <p
                class="text-danger"
                *ngIf="resetPassForm.get('password')?.getError('required')"
              >
                Password Required
              </p>
              <p
                class="text-danger"
                *ngIf="resetPassForm.get('password')?.getError('pattern')"
              >
                Password Must start with upperCase then from 6 to 20 characters
              </p>
            </div>
          </div>

          <div class="form-group row position-relative">
            <label for="passwordConfirm" class="col-sm-3 col-form-label"
              >Confirm Password</label
            >
            <div class="col-sm-9">
              <input
                #inputConfirmPass
                formControlName="passwordConfirm"
                type="password"
                class="form-control"
                id="confirmPass"
                placeholder="Confirm Password"
              />
            </div>
            <div
              class="error-container position-absolute"
              *ngIf="
                resetPassForm.get('passwordConfirm')?.errors &&
                (resetPassForm.get('passwordConfirm')?.touched ||
                  inputConfirmPass.value.length > 0)
              "
            >
              <p
                class="text-danger"
                *ngIf="
                  resetPassForm.get('passwordConfirm')?.getError('required')
                "
              >
                Confirm Password Required
              </p>
              <p
                class="text-danger"
                *ngIf="
                  resetPassForm.get('passwordConfirm')?.getError('mismatch')
                "
              >
                Passwords Don't Match
              </p>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <app-button
              btnClass="btn btn-inverse-success btn-fw"
              text="Confirm"
            ></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
