.card {
    width: 100%;
    max-width: 300px;
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 8px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    color: white;
}

.card-text {
    font-size: 2rem;
    color: white;
}